/* ---- Chat ----  */

.chat-bubble {
  display: inline-block;
  max-width: 30%;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.user-bubble {
  background-color: #164E87;
  color: #fff;
  text-align: left;
  float: right;
}

.interlocutor-bubble {
  background-color: #686868;
  color: #fff;
  text-align: left;
}

.icon-send-quotation:hover, .icon-send-message:hover {
  color: #164E87;
}

@media (max-width: 765px) {
  .icon-send-message {
    color: #fff
  }

  .icon-send-quotation {
    color: #fff
  }
}

/* @media (max-width: 1640px) {
  .messageArea {
    height: 20vh;
    background-color: yellow;
  }
} */

