.box-chat {
  position: fixed;
  z-index: 999;
  bottom: 20px;
  right: 20px;
  width: 25%;
  height: auto;
}

.chat_icon_button {
  color: #fff;
  background-color: #164E87;
}

.chat_wrapper {
  padding: 30px;
  background: #F2F2F2;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.chat_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}