.search-result-error-img{
    width: 400px;
    height: auto;
    display: block;
    margin: auto;
}

.search-result-error-title{
    text-align: center;
    font-size: 3em;
    margin-bottom: 80px;
}

.loading-results{
    width: 400px;
    display: block;
    margin: auto;
}