.survey{
    background-color: #48abe0;
    color: white;
    border: none;
    padding: 5px;
    font-size: 31px;
    height: 45px;
    width: 45px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 70%;
    position: fixed;
    bottom: 20px; 
    right: 20px;
    animation: bounce 2.5s ease infinite;

    &:active{
        background-color: #48abe0;
        box-shadow: 0 0 2px darkslategray;
        transform: translateY(2px);
    }

}

.css-iljtu2-MuiRating-root{
    font-size: 50px !important;
}

.survey-legend{
    text-align: center;
    padding-bottom: 10px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
}