.filter{
    width: 260px;
    padding: 10px;
    border-radius: 10px;
    height: 680px;
    box-shadow: 1px 1px 1px rgb(184, 183, 183);
}

.filter label{
    color:rgb(128, 126, 126);
}

.freelance-container{
    display: flex;
    margin: 10px;
}

.submit-filter{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.reset-filter{
    margin-right: 20px !important;
}

.filter-button{
    display: none !important;
}

@media (max-width: 768px){
    .filter-button{
        display: block !important;
        margin-left: 20px !important;
    }

    .filter{
        display: none;
    }

    .filter-box{
        width: 100%;
        margin-top: 75px;
        // height: 200px;
        background-color: #ffff;
        text-align: left;
        padding: 20px;
        opacity: 0;
        display: none;
        overflow: scroll;
        height: 550px !important;
    }

    .close-filter{
        margin-left: 230px !important;
        margin-top: 30px !important;
    }
}